html {
    font-family: 'FantasqueSansMonoRegular'; 
}
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,6,73,1) 32%, rgba(98,0,255,1) 100%); 
    margin: 0;
}
#topbar {
    display: flex;
    justify-content: space-between;
    padding: 0em 1em;
    align-items: center;
}

#newcard{
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    padding: 1em;
    border-radius: 3px;
}

h4 {
    padding: 0.5em;
    margin: 0 auto;
}